
<% provide(:title, "Users") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | myApp</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

<h1>Users</h1>
<%#= search_field(:user, :name)%>
<%#= link_to "id_select", action:'index', id_select:1%>
<%#= submit_tag "search"%>
<%#= will_paginate %>
 
  <%= form_tag users_path, :method=>'get' do%>
 
    name<%= check_box_tag 'name_select', "name" %>
  email<%= check_box_tag "email_select","email"  %>
  age<%= check_box_tag "age_select","age"  %>
  <%= submit_tag "search"  %>
  
  <% end %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= user.id %>
      |<%= user.name if user.has_attribute?(:name)%>
       |<%= user.email if user.has_attribute?(:email)%>
       |<%= user.age if user.has_attribute?(:age)%>
</li>
  <% end %>
</ul>
<%#= will_paginate %>

<br>

<%#= link_to 'New User', new_user_path %>
  </body>
</html>
