
<% provide(:title, "Users") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | myApp</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= will_paginate %>
<ul class="users">
<%= render @users %>
</ul>
<%= will_paginate %>

<br>

<%#= link_to 'New User', new_user_path %>
  </body>
</html>
