<% provide(:title, "Music") %>
<% provide(:user_id, session[:user_id]) %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | myApp</title>
  </head>
  <body>
    <p id="notice"><%= notice %></p>
    <h1>Musics</h1>
    <div> your_userid:<%= yield(:user_id)%> </div>
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music| %>
      <tr>
        <td><%= music.name %></td>
        <td><%= music.artist %></td>
        <td><%= link_to 'Show', music %></td>
        <td><%#= link_to 'Edit', edit_music_path(music) %></td>
        <td><%#= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "like", controller:'likes', action:'new', musicid:music.id, personid:2%></td>
        <td><%= link_to "comments", controller:'comments', action:'new'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Music', new_music_path %>
<div>
  </body>
</html>
 